.calendar_menu_entry_container {
	margin-bottom: 2px;
}

#display_header {
	overflow: hidden;
	margin-bottom: 10px;
}

#calendar_navigation {
	float: left;
}

#calendar_timeframe {
	float: right;
}

#display_body {
	overflow: auto;
}

#display_table {
	border-collapse: collapse;
	background-color: white;
	table-layout: fixed;
}

#display_table  tr.display_row_bottom {
	border-bottom: 1px solid black;
}

#display_table  tr.display_row_top {
	border-top: 1px solid black;
}

#display_table td.timeslot_header {
	text-align: center;
}

#display_table td {
	vertical-align: top;
	border-right: 1px dotted grey;
}

#display_table thead td,#display_table td.display_row_label {
	padding: 5px;
}

td.timeslot {
	min-height: 1em;
	padding-left: 0px;
	min-width: 100px;
	max-width: 100px;
	overflow: visible;
	min-width: 100px;
}

.event_entry {
	float:left;
	font-size: .8em;
	width: 100%;
	border-radius: 3px;
	padding: .2em;
	margin-bottom: .2em;
	background-color: lightblue;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}