body,div {
	margin: 0px;
	padding: 0px;
}

#main_content {
	padding: 10px;
	overflow: hidden;
}

#header {
	margin-bottom: 10px;
	overflow: hidden;
}

#header #user_data {
	float: right;
}

#sidebar {
	float: left;
	width: 150px;
	margin-left: 20px;
}

#main_display {
	margin-left: 200px;
	min-width: 400px;
}

.hidden {
	display: none;
}